# Ignore node_modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# OS-specific
.DS_Store
Thumbs.db

# Environment files
.env

# Build files
dist/
build/

# IDEs/editors
.vscode/
.idea/

# Dependency lock files (if not needed)
package-lock.json
yarn.lock
